[submodule "vim/bundle/dracula-theme"]
	path = vim/bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "vim/bundle/puppet-syntax-vim"]
	path = vim/bundle/puppet-syntax-vim
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
